In [ ]:
#import pandas
import pandas as pd

In [ ]:
#ler ficheiro cast.csv para dataframe casts
casts=pd.read_csv('cast.csv', index_col=None)

In [ ]:
#dados estatisticos do conjunto
print(casts.describe())

               year             n
count  75001.000000  46035.000000
mean    1990.536473     16.814359
std       26.748233     24.695616
min     1912.000000      1.000000
25%     1974.000000      4.000000
50%     2002.000000     10.000000
75%     2012.000000     21.000000
max     2023.000000    701.000000

In [ ]:
#imprimir as cinco primeiras linhas do dataframe casts
print(casts.head())

                  title  year      name   type                character     n
0        Closet Monster  2015  Buffy #1  actor                  Buffy 4  31.0
1       Suuri illusioni  1985    Homo $  actor                   Guests  22.0
2   Battle of the Sexes  2017   $hutter  actor          Bobby Riggs Fan  10.0
3  Secret in Their Eyes  2015   $hutter  actor          2002 Dodger Fan   NaN
4            Steve Jobs  2015   $hutter  actor  1988 Opera House Patron   NaN

In [ ]:
#ler ficheiro titles.csv para dataframe titles
titles= pd.read_csv('titles.csv', index_col=None)

In [ ]:
#imprimir as cinco últimas linhas do dataframe titles
print(titles.tail())

                      title  year
49995                 Rebel  1970
49996               Suzanne  1996
49997                 Bomba  2013
49998  Aao Jao Ghar Tumhara  1984
49999            Mrs. Munck  1995

In [ ]:
#alterar numero de linhas e colunas a visualizar sempre que se imprime todo o dataframe
pd.set_option('display.max_rows', 10, 'display.max_columns', 10)

In [ ]:
#imprimir dataframe titles
print(titles)

                         title  year
0               The Rising Son  1990
1      The Thousand Plane Raid  1969
2             Crucea de piatra  1993
3                      Country  2000
4                   Gaiking II  2011
...                        ...   ...
49995                    Rebel  1970
49996                  Suzanne  1996
49997                    Bomba  2013
49998     Aao Jao Ghar Tumhara  1984
49999               Mrs. Munck  1995

[50000 rows x 2 columns]

In [ ]:
#atribuir à variável tamanho o numero total d linhas do dataframe titles
tamanho=len(titles)
#imprimir tamanho
print(tamanho)

50000

In [ ]:
#imprimir primeiras três linhas do dataframe titles
print(titles.head(3))

                     title  year
0           The Rising Son  1990
1  The Thousand Plane Raid  1969
2         Crucea de piatra  1993

In [ ]:
#obter serie t a partir do dataframe titles selecionando a coluna title
t = titles['title']
print(type(t))

<class 'pandas.core.series.Series'>

In [ ]:
#Obter informação geral do dataframe casts
casts.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 75001 entries, 0 to 75000
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   title      75000 non-null  object
 1   year       75001 non-null  int64
 2   name       75001 non-null  object
 3   type       75001 non-null  object
 4   character  75001 non-null  object
 5   n          46035 non-null  float64
dtypes: float64(1), int64(1), object(4)
memory usage: 3.4+ MB

In [ ]:
#imprimir linha de indice 0 no dataframe titles
print(titles.iloc[0])

title    The Rising Son
year               1990
Name: 0, dtype: object

In [ ]:
#obter dataframe after85 filtrando o dataframe titles 
#selecionando os registos cujo ano é superior a 1985
after85= titles[titles['year']>1985]
print(after85.head())

              title  year
0    The Rising Son  1990
2  Crucea de piatra  1993
3           Country  2000
4        Gaiking II  2011
5       Medusa (IV)  2015

In [ ]:
#obter dataframe movies90 filtrando o dataframe t selecionando os registos cujo ano
# é superior e igual a 1990 e inferior a 2000
t=titles
movies90= t[(t['year']>=1990) & (t['year']<2000)]
print(movies90.head())

                       title  year
0             The Rising Son  1990
2           Crucea de piatra  1993
12  Poka Makorer Ghar Bosoti  1996
19          Maa Durga Shakti  1999
24      Conflict of Interest  1993

In [ ]:
#obter dataframe macbeth a partir do dataframe t 
# cujo valor na coluna title é igual a Macbeth
macbeth= t[(t['title']== 'Macbeth')]
print (macbeth.head())

         title  year
4226   Macbeth  1913
9322   Macbeth  2006
11722  Macbeth  2013
17166  Macbeth  1997
25847  Macbeth  1998

In [ ]:
#obter dataframe macbeth a partir do dataframe t cujo valor na coluna title é igual 
# a Macbeth e ordenar por index
macbeth= t[(t['title']== 'Macbeth')].sort_index()
print (macbeth.head())

         title  year
4226   Macbeth  1913
9322   Macbeth  2006
11722  Macbeth  2013
17166  Macbeth  1997
25847  Macbeth  1998

In [ ]:
#obter dataframe macbeth a partir do dataframe t cujo valor na coluna title é
# igual a Macbeth e ordenar pelos values 
macbeth = t[ t['title'] == 'Macbeth'].sort_values('year')
print(macbeth.head())

         title  year
4226   Macbeth  1913
17166  Macbeth  1997
25847  Macbeth  1998
9322   Macbeth  2006
11722  Macbeth  2013

In [ ]:
#imprimir linhas 3 e 4 do dataframe casts
print(casts.loc[3:4])

                  title  year     name   type                character   n
3  Secret in Their Eyes  2015  $hutter  actor          2002 Dodger Fan NaN
4            Steve Jobs  2015  $hutter  actor  1988 Opera House Patron NaN

In [ ]:
#devolve true em cada elemento da linha correspondente à coluna
# n se o valor for nulo e false caso contrário
c=casts
print(c['n'].isnull().head())

0    False
1    False
2    False
3     True
4     True
Name: n, dtype: bool

In [ ]:
#devolve false em cada elemento da linha correspondente à coluna n se o valor for nulo
# e true caso contrário 
print(c['n'].notnull().head())

0     True
1     True
2     True
3    False
4    False
Name: n, dtype: bool

In [ ]:
#devolve as primeiras linhas com valor nulo na coluna n 
print(c[c['n'].isnull()].head(3))

                    title  year     name   type                character   n
3    Secret in Their Eyes  2015  $hutter  actor          2002 Dodger Fan NaN
4              Steve Jobs  2015  $hutter  actor  1988 Opera House Patron NaN
5  Straight Outta Compton  2015  $hutter  actor              Club Patron NaN

In [ ]:
#substitui os valores nulos de n por 'NA'
c_fill = c[c['n'].isnull()].fillna('NA')
print(c_fill.head(2))

                  title  year     name   type                character   n
3  Secret in Their Eyes  2015  $hutter  actor          2002 Dodger Fan  NA
4            Steve Jobs  2015  $hutter  actor  1988 Opera House Patron  NA

In [ ]:
#imprime as linhas do dataframe cujo valor afetos à coluna title é igual a 'Maa'
print(t[t['title'] == 'Maa'])

      title  year
38880   Maa  1968

In [ ]:
#imprime as linhas do dataframe cujo valor afetos à coluna title é inicia com a 'Maa ' 
print(t[t['title'].str.startswith("Maa ")].head(3))

                  title  year
19     Maa Durga Shakti  1999
3046      Maa Aur Mamta  1970
7470  Maa Vaibhav Laxmi  1989

In [ ]:
#conta os valores não nulos presentes na coluna year
print(t['year'].value_counts().head())

year
2016    2363
2017    2138
2015    1849
2014    1701
2013    1609
Name: count, dtype: int64

In [ ]:
c = casts
#obtem o dataframe cf a partir de c filtrando os dados que verifiquem 
# a condição do autor ser 'Aaron Abrams' 
cf = c[c['name'] == 'Aaron Abrams']

In [ ]:
#Agrupar os dados do dataframe anterior pela coluna year
print(cf.groupby(['year']).size().head())

year
2003    2
2004    2
2005    2
2006    1
2007    2
dtype: int64

In [ ]:
#group by com múltiplas colunas
gbmultiplecolumns = cf.groupby(['year', 'title']).size()
gbmultiplecolumns.head()

In [ ]:
#leitura dos dados do ficheiro release_dates.csv para o dataframe release 
release = pd.read_csv('release_dates.csv', index_col=None)
print(release.head())

c_amelia = casts[ casts['title'] == 'Amelia']
print(c_amelia.head())
print(release [ release['title'] == 'Amelia' ].head())

                    title  year      country        date
0   #73, Shaanthi Nivaasa  2007        India  2007-06-15
1                 #Beings  2015      Romania  2015-01-29
2               #Declimax  2018  Netherlands  2018-01-21
3  #Ewankosau saranghaeyo  2015  Philippines  2015-01-21
4                 #Horror  2015          USA  2015-11-20
        title  year            name   type    character     n
5767   Amelia  2009    Aaron Abrams  actor  Slim Gordon   8.0
23319  Amelia  2009  Jeremy Akerman  actor      Sheriff  19.0
        title  year    country        date
20543  Amelia  1966     Mexico  1966-03-10
20544  Amelia  2009     Canada  2009-10-23
20545  Amelia  2009        USA  2009-10-23
20546  Amelia  2009  Australia  2009-11-12
20547  Amelia  2009  Singapore  2009-11-12

In [ ]:
#imprimeir os primeiras cinco linhas do merge (fusão) c_amelia com o dataframe release
print(c_amelia.merge(release).head())

    title  year          name   type    character    n    country        date
0  Amelia  2009  Aaron Abrams  actor  Slim Gordon  8.0     Canada  2009-10-23
1  Amelia  2009  Aaron Abrams  actor  Slim Gordon  8.0        USA  2009-10-23
2  Amelia  2009  Aaron Abrams  actor  Slim Gordon  8.0  Australia  2009-11-12
3  Amelia  2009  Aaron Abrams  actor  Slim Gordon  8.0  Singapore  2009-11-12
4  Amelia  2009  Aaron Abrams  actor  Slim Gordon  8.0    Ireland  2009-11-13

In [ ]:
print(c_amelia.merge(release).head(10))